#container{
  width:1000px;
  margin: 0 auto;
}
.headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.subheadline{
  font-size: 1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.byline{
  font-size: 1em;
  font-family:'Montserrat', sans-serif;
  text-align: center;
}
.intro{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
#h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
}
p{
  font-size: 1em;
  font-family: Georgia, times, serif;
  line-height: 180%;
}
figcaption{
  font-size: 0.75em;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-style: italic;
}
figure{
  text-align: center;
}
footer{
  padding-top: 15px;
  text-align: center;
  background-color: #D3D3D3;
}
.hero-image{
  width: 100%;
}
