/*styles for my resume*/
body{
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight: 400;
}
#container{
  width:100%;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 50px;
}
/*banner name at top*/
#name{
  font-size: 3em;
  color: #33485e;
  text-transform:uppercase;
  text-align:center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
/*my title*/
.title{
  font-size:1.5em;
  color:#33485e;
  text-transform:uppercase;
  font-weight: 600px;
  text-align: center;
  margin: 20px 0px 0px 0px;
}
/*section headings*/
.sectionheader{
  font-size:1.5em;
  color:#fff;
  background-color:#334853;
  text-transform:uppercase;
  font-weight:100;
  margin: 20px 0px 10px 0px;
  width: 70%;
  min-width: 300px;
}
/*position titles*/
.jobtitle{
  font-weight:600;
  font-size:1.5em;
}
/*organization titles*/
.organization{
  font-weight:400;
  font-size:1.25em;
}
/*dates*/
.date{
  font-weight:400;
  font size:1em;
  font-style:italic;
  margin-top: 2px;
}
/*contact info, skills, education*/
.menu{
  font-size:1em;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
/*position descriptions*/
.description{
  margin: 10px 0px 10px 0px;
}
#degrees{
  margin: 5px 0px 0px 0px;
}
#do{
  margin: 5px 0px 0px 0px;
}
li{
  display: inline;
 list-style-type: none;
}
.top{
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
