/* .jumbotron{
  background-image: url(resume-banner.png);
  background-size: cover;
  height: 500px;
} */
#header{
  width: 100%;
  max-width: 1100px;
}
footer{
  text-align: center;
  background-color: #e6e9e7;
  color: #0C1824;
  padding-top: 15px;
}
#profile{
  text-align: center;
  border-radius: 50%;
}
#profilepic{
  border-radius: 50%
}
button{
  margin: 0 auto;
}
body{
  font-family: 'Nunita Sans', sans-serif;
  font-size: 1em;
  color:#0C1824;
  font-weight: 400;
}
a{
  color: #0C1824;
}
.nav-link{
    color: #0C1824;
}
