.jumbotron{
  background-image: url(resume-banner.png);
  background-size: cover;
  height: 500px;
}
footer{
  text-align: center;
  background-color: #e6e9e7;
  color: #0C1824;
  padding-top: 15px;
}
#profile{
  text-align: center;
  border-radius: 50%;
}
#profilepic{
  border-radius: 50%
}
button{
  margin: 0 auto;
}
body{
  font-family: 'Baskerville Old Face', sans-serif;
  font-size: 1em;
  color:#0C1824;
  font-weight: 400;
  background-color: #D5E2ED;
}
a{
  color: #0C1824;
}
.collapse navbar-collapse{
    color: #0C1824;
}
